<!DOCTYPE html>
<html lang="tr">

<head>
  <title>Can Akburu | İşletmelere Özel Yazılım Çözümleri</title>
  <%- include('../../partials/head'); -%>
</head>

<body>
  <div class="content-wrapper">
    <%- include('../../partials/header',{active:"business-specific-software-solutions"}); -%>
      <!-- /header -->
      <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
          <div class="row">
            <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto mb-11">
              <h1 class="display-1 mb-3">İşletmelere Özel Yazılım Çözümleri</h1>
              <p class="lead px-lg-7 px-xl-7 px-xxl-6">Firmaların dinamik yapılar olduğu bilinen bir gerçektir. Dinamik
                bir yapıda ise işleyiş modelleri, etkenler, süreç tasarımları farklı olacaktır.</p>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-light angled upper-end">
        <div class="container pb-14 pb-md-16">
          <!-- /.row -->
          <div class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center">
            <div class="col-lg-6 order-lg-2">
              <div class="row gx-md-5 gy-5">
                <div class="col-md-4 offset-md-2 align-self-end">
                  <figure class="rounded"><img src="/assets/img/photos/g1.jpg" srcset="/assets/img/photos/g1@2x.jpg 2x"
                      alt=""></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 align-self-end">
                  <figure class="rounded"><img src="/assets/img/photos/g2.jpg" srcset="/assets/img/photos/g2@2x.jpg 2x"
                      alt=""></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 offset-md-1">
                  <figure class="rounded"><img src="/assets/img/photos/g3.jpg" srcset="/assets/img/photos/g3@2x.jpg 2x"
                      alt=""></figure>
                </div>
                <!--/column -->
                <div class="col-md-4 align-self-start">
                  <figure class="rounded"><img src="/assets/img/photos/g4.jpg" srcset="/assets/img/photos/g4@2x.jpg 2x"
                      alt=""></figure>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h2 class="display-4 mb-3">Bu farklılıkların çok iyi analiz edilerek işletmelere kullanılabilir çözümler
                üretebilmek doğru yaklaşım olacaktır.</h2>
              <p class="lead fs-lg mb-8 pe-xxl-2">bu süreci tasarlarken öncelikle firma ile süreci analiz eder,
                müşteriye karşılaşacağı çözümü simüle ederek iş akışında bir sonraki adım olan geliştirme sürecine
                geçer.
                Geliştirme süreçlerinde Çevik Yazılım Geliştirme (Agile Software Development) metodolojileri ile proje
                sürecinin hem müşteri tarafından hem de ekibimiz tarafından kontrol edilebilirliğini sağlamayı
                hedeflemektedir.</p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->

  </div>
  <%- include('../../partials/footer');-%>
</body>

</html>