<footer class="bg-white">
  <div class="container pt-8 pt-md-10 pb-7">
    <div class="row gx-lg-0 gy-6">
      <div class="col-lg-4">
        <div class="widget">
          <img class="mb-4" src="/can-akburu-full-logo.svg" width="150" alt="">
          <p class="lead mb-0">250'den fazla müşterimiz tarafından güveniliyoruz.</p>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-lg-3 offset-lg-2">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i>
              </div>
            </div>
            <div>
              <h5 class="mb-1">Telefon</h5>
              <p class="mb-0">
                <a href="tel:+905453145619" target="_blank" title="Antalya Akburu Asansör Telefon">+90 (545) 314 56 19</a>
              </p>
            </div>
          </div>
          <!--/div -->
        </div>
        <!-- /.widget -->
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i>
              </div>
            </div>
            <div>
              <h5 class="mb-1">Mail</h5>
              <p class="mb-0">
                <a href="mailto:destek@akburu.com" title="Antalya Akburu Asansör mail link" target="_blank">can@akburu.com</a>
              </p>
            </div>
          </div>
          <!--/div -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-lg-3">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
            </div>
            <div class="align-self-start justify-content-start">
              <h5 class="mb-1">Adres</h5>
              <address><a href="#" target="_blank" title="Can Akburu Ofis Adres"> Ayanoğlu Mah. 1827 Sok. Özyıldırım Sitesi D Blok No : 23 Kepez/Antalya </a></address>
            </div>
          </div>
          <!--/div -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-lg-12">
        <div class="widget">
          <div class="d-flex flex-row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3791.442689774823!2d30.708577357476475!3d36.95702758968468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38f58dbb8620d%3A0x936dfd6c6b5a69c0!2zw5Z6IFnEsWxkxLFyxLFtIFNpdGVzaQ!5e0!3m2!1str!2str!4v1659777187336!5m2!1str!2str" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" height="300" width="100%"></iframe>
          </div>
          <!--/div -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
    <hr class="mt-13 mt-md-10 mb-7">
    <div class="d-md-flex align-items-center justify-content-between">
      <p class="mb-2 mb-lg-0">Copyright © 2022 Can Akburu Tüm Hakları Saklıdır. </p>
      <nav class="nav social social-muted mb-0 text-md-end">
        <a href="https://www.twitter.com/_Can_Akburu_"><i class="uil uil-twitter"></i></a>
        <a href="https://www.instagram.com/can_akburu"><i class="uil uil-instagram"></i></a>
      </nav>
      <!-- /.social -->
    </div>
  </div>
  <!-- /.container -->
</footer>
<!-- /.content-wrapper -->
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/theme.js"></script>
<script src="/assets/js/site.js"></script>


<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "https://www.akburu.com/#organization",
		"@type": "Organization",
		"name": "Apple",
		"url": "https://www.akburu.com/",
		"logo": "https://www.akburu.com/akburu-logo.svg",
		"contactPoint": [
			{
				"@type": "ContactPoint",
				"telephone": "+90-539-943-98-06",
				"contactType": "sales",
				"areaServed": "TR"
			},
			{
				"@type": "ContactPoint",
				"telephone": "+90-539-943-98-06",
				"contactType": "technical support",
				"areaServed": "TR",
				"availableLanguage": ["TR", "EN"]
			},
			{
				"@type": "ContactPoint",
				"telephone": "+90-539-943-98-06",
				"contactType": "customer support",
				"areaServed": "TR",
				"availableLanguage": ["TR", "EN"]
			}
		],
		"sameAs": [
      "http://www.wikidata.org/entity/Q98446757",
      "https://www.twitter.com/Akburu2",
      "https://www.instagram.com/akburuasansorbilisim/",
      "https://www.webwiki.com/akburu.com",
      "https://www.facebook.com/Akburu-Asans%C3%B6r-Ve-Bili%C5%9Fim-Teknolojileri-572308616780815"
		]
	}
</script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "https://www.akburu.com/#website",
		"@type": "WebSite",
		"url": "https://www.akburu.com/",
		"name": "Akburu"
	}
</script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "https://www.akburu.com/#webpage",
		"@type": "WebPage",
		"url": "https://www.akburu.com/",
		"name": "Akburu"
	}
</script>
<!-- <script defer>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register(window.location.origin + '/sw.js')
      .then((req) => console.log('service worker registered', req))
      .catch((err) => console.log('service worker not registered', err));
  }
</script> -->