<!DOCTYPE html>
<html lang="tr">

<head>
  <title>Akburu Asansör & Bilişim Teknolojileri | Bakım</title>
  <%- include('../partials/head'); -%>
</head>

<body>
  <div class="content-wrapper">
    <%- include('../partials/header',{active:"bakim"}); -%>
      <!-- /header -->
      <section class="wrapper image-wrapper bg-image bg-overlay text-white"
        data-image-src="./assets/img/photos/bg13.jpg">
        <div class="container pt-19 pt-md-21 pb-18 pb-md-20 text-center">
          <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
              <h1 class="display-1 text-white mb-3">Bakım Servisimiz</h1>
              <p class="lead fs-lg px-md-3 px-lg-7 px-xl-9 px-xxl-10">Müşterilerle uzun vadeli ilişkiler kurmaya
                odaklanan müşterimizin önceliklerine göre hareket eden bir firmayız.</p>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-light">
        <div class="container pt-14 pb-12 pt-md-16 pb-md-14">
          <div class="row gx-lg-8 gx-xl-12 gy-10 mb-lg-10 align-items-center">
            <div class="col-lg-7 order-lg-2">
              <div class="row gx-md-5 gy-5">
                <div class="col-md-5 offset-md-1 align-self-end">
                  <div class="card bg-pale-yellow">
                    <div class="card-body">
                      <img src="./assets/img/icons/telephone-3.svg"
                        class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
                      <h4>24/7 Destek</h4>
                      <p class="mb-0">Sizler için her zaman bekleyen bir ekip garanti ediyoruz.</p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 align-self-end">
                  <div class="card bg-pale-red">
                    <div class="card-body">
                      <img src="./assets/img/icons/shield.svg" class="svg-inject icon-svg icon-svg-md text-red mb-3"
                        alt="" />
                      <h4>Koruyucu ve Planlı Bakım</h4>
                      <p class="mb-0">Asansörler, insan hayatı ve mal güvenliği bakımından aktif olarak kullanılan
                        sistemlerin başında gelir asansörünüzü sizin için durmaksızın çalışmasını sağlıyoruz.</p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-5">
                  <div class="card bg-pale-leaf">
                    <div class="card-body">
                      <img src="./assets/img/icons/cloud-computing-3.svg"
                        class="svg-inject icon-svg icon-svg-md text-leaf mb-3" alt="" />
                      <h4>Cihaz Kontrolleri</h4>
                      <p class="mb-0">Donanım ve elemanların çalışmalarını yeterli ve uygun bir şekilde sürdürülmesi
                        için gerekli çalışmaları sağlıyoruz.</p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 align-self-start">
                  <div class="card bg-pale-primary">
                    <div class="card-body">
                      <img src="./assets/img/icons/analytics.svg"
                        class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="" />
                      <h4>Kalite ve Uygun Fiyatlandırma</h4>
                      <p class="mb-0">Her daim piyasa araştırmamız ve uygun fiyatlandırmamız ile sizlerin yanındayız.
                      </p>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.card -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!--/column -->
            <div class="col-lg-5">
              <h2 class="fs-15 text-uppercase text-muted mb-3">Ne Yapıyoruz?</h2>
              <h3 class="display-4 mb-5">Asansörlerinizin ömrünü çalışma hayatını daha uzun ve güvenli hale getiriyoruz.
              </h3>
              <p>Asansörlere uygulanan bakımın amacı, donanımın performansını, güvenirliliğini sağlamaktır. Ayrıca
                tesisi düzenli ve verimli, arızayı önleyecek düzeyde emniyetli olarak çalıştırılacak en üst düzeyde
                tutmak ve işletme kayıplarını en aza indirmek de bakımın amaçlarındandır.</p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-soft-primary">
        <div class="container py-14 pt-md-16 pt-lg-0 pb-md-16">
          <div class="row text-center">
            <div class="col-lg-10 mx-auto">
              <div class="mt-lg-n20 mt-xl-n22 position-relative">
                <div class="shape bg-dot red rellax w-16 h-18" data-rellax-speed="1" style="top: 1rem; left: -3.9rem;">
                </div>
                <div class="shape rounded-circle bg-line primary rellax w-18 h-18" data-rellax-speed="1"
                  style="bottom: 2rem; right: -3rem;"></div>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
          <div class="row text-center">
            <div class="col-lg-9 mx-auto">
              <h2 class="fs-15 text-uppercase text-muted mb-3 mt-12">Çalışma Anlayışı</h2>
              <h3 class="display-4 mb-0 text-center px-xl-10 px-xxl-15">Bakım genel olarak sadece hasar oluştuğu zaman
                alınan tedbirler topluluğu değildir.</h3>
              <div class="row gx-lg-8 gx-xl-12 process-wrapper text-center mt-9">
                <div class="col-md-12">
                  <p> Asansörlere uygulanan bakımın amacı, donanımın performansını, güvenirliliğini sağlamaktır. Ayrıca
                    tesisi düzenli ve verimli, arızayı önleyecek düzeyde emniyetli olarak çalıştırılacak en üst düzeyde
                    tutmak ve işletme kayıplarını en aza indirmek de bakımın amacıdır.</p>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center bg-map"
        data-image-src="./assets/img/map.png">
        <div class="container pt-0 pb-10 pt-md-12 pb-md-10">
          <div class="row">
            <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
              <h2 class="fs-15 text-uppercase text-muted mb-3">Bize Katılın</h2>
              <h3 class="display-4 mb-8 px-lg-12">250'den fazla müşterimiz tarafından güveniliyoruz. Şimdi onlara
                katılın.</h3>
            </div>
            <!-- /.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
  </div>
  <%- include('../partials/footer');-%>
</body>

</html>