<!DOCTYPE html>
<html lang="tr">

<head>
  <title>Akburu Asansör & Bilişim Teknolojileri | Hakkımızda</title>
  <%- include('../partials/head'); -%>
</head>

<body>
  <div class="content-wrapper">
    <%- include('../partials/header',{active:"hakkimizda"}); -%>
      <!-- /header -->
      <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pb-20 pt-md-14 pb-md-23 text-center">
          <div class="row">
            <div class="col-xl-5 mx-auto mb-6">
              <h1 class="display-1 mb-3">Hakkımızda</h1>
              <p class="lead mb-0">İşletmelere özel yazılımlar geliştiren bir teknoloji firmasıyız.</p>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-light">
        <div class="container pb-14 pb-md-16">
          <div class="row text-center mb-12 mb-md-15">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-n18 mt-md-n22">
              <figure><img class="w-auto" src="/assets/img/illustrations/i2.png" /></figure>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="row gx-lg-8 gx-xl-12 gy-6 mb-10 align-items-center">
            <div class="col-lg-6 order-lg-2">
              <ul class="progress-list">
                <li>
                  <p>Güven</p>
                  <div class="progressbar line blue" data-value="100"></div>
                </li>
                <li>
                  <p>İş Yönetimi</p>
                  <div class="progressbar line green" data-value="100"></div>
                </li>
                <li>
                  <p>Teknik Kabiliyet</p>
                  <div class="progressbar line yellow" data-value="100"></div>
                </li>
                <li>
                  <p>Müşteri İlişkileri</p>
                  <div class="progressbar line orange" data-value="100"></div>
                </li>
              </ul>
              <!-- /.progress-list -->
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h3 class="display-5 mb-5">İşimize ve teknolojiye olan tutkumuz, müşterilerimizi yakından takip ederek
                mevcut ihtiyaçlarını en iyi şekilde anlamamıza ve optimum çözümü projelendirerek sunmamıza olanak verir.
              </h3>
              <p> Kuruluşumuzdan bugüne, sektöründe lider markaların bizi tercih etmesindeki en önemli etken; ortaya
                çıkan yeni gereksinimlere karşı hızlı ve etkili çözümler geliştirebilme yeteneğimizdir.</p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
          <div class="row gx-lg-8 gx-xl-12 gy-6 gy-md-0 text-center">
            <div class="col-md-6 col-lg-3">
              <img src="./assets/img/icons/solid/shield.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3"
                alt="" />
              <h4>Güven</h4>
              <p class="mb-2">Sözleşme yaptığımız ilk andan itibaren sözleşme ve hukuki olarak tarafsız olarak iki taraf
                içinde tam güvenceli iş ortağınız olalım</p>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <img src="./assets/img/icons/target.svg" class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
              <h4>İş Yönetimi</h4>
              <p class="mb-2">Zamanında ve dakik çalışma tarzıyla sizler için hep hazır disiplinli bir ekip. </p>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <img src="./assets/img/icons/solid/employees.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3"
                alt="" />
              <h4>Teknik Ustalık</h4>
              <p class="mb-2">Konunun uzmanı teknik personel kadromuz ile ekibimiz sorunlarınızı çözüme kavuştursun.</p>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <img src="./assets/img/icons/solid/deal.svg"
                class="svg-inject icon-svg icon-svg-xs solid-duo text-navy-sky" alt="" />
              <h4>Müşteri İlişkileri</h4>
              <p class="mb-2">Müşteri memnuniyetini esas alıyoruz, siz mutluysanız bizde mutluyuz her daim siz değerli
                müşterilerimiz için buradayız.</p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-gray">
        <div class="container py-8 py-md-4">
          <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-16 align-items-center">
            <div class="col-lg-7">
              <figure>
                <img class="w-auto" src="./assets/img/photos/code.png" alt="" />
              </figure>
            </div>
            <!--/column -->
            <div class="col-lg-5">
              <h2 class="fs-15 text-uppercase text-line text-primary mb-3">Nasıl Çalışırız</h2>
              <h3 class="display-5 mb-7 pe-xxl-5">Sürekli gelişme bilincinde olmak birinci hedefimiz</h3>
              <div class="d-flex flex-row mb-4">
                <div>
                  <img src="./assets/img/icons/light-bulb.svg" class="svg-inject icon-svg icon-svg-sm text-blue me-4"
                    alt="" />
                </div>
                <div>
                  <h4 class="mb-1">Önce Güvenlik</h4>
                  <p class="mb-1">Çalışma yaptığımız bütün işlerde önce güvenlik ilkesi ile çalışırız.</p>
                </div>
              </div>
              <div class="d-flex flex-row mb-4">
                <div>
                  <img src="./assets/img/icons/pie-chart-2.svg" class="svg-inject icon-svg icon-svg-sm text-green me-4"
                    alt="" />
                </div>
                <div>
                  <h4 class="mb-1">Modern Düşünce</h4>
                  <p class="mb-1">Yağtığımız işlerde çağın ilerisinde olması için gerekli olan her şey yapılır.</p>
                </div>
              </div>
              <div class="d-flex flex-row">
                <div>
                  <img src="./assets/img/icons/solid/crosshair.svg"
                    class="ssvg-inject icon-svg icon-svg-sm text-blue me-4" alt="" />
                </div>
                <div>
                  <h4 class="mb-1">Uygun Ödeme</h4>
                  <p class="mb-0">
                    Fiyatlandırmalar sizler için en uygun pazar araştırmaları yapılarak hazırlanmaktadır.
                  </p>
                </div>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
  </div>
  <%- include('../partials/footer');-%>
</body>

</html>