<!DOCTYPE html>
<html lang="tr">

<head>
  <title>Akburu Asansör & Bilişim Teknolojileri | İletişim</title>
  <%- include('../partials/head'); -%>
</head>

<body>
  <div class="content-wrapper">
    <%- include('../partials/header',{active:"iletisim"}); -%>
      <!-- /header -->
      <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 text-white"
        data-image-src="./assets/img/photos/bg3.jpg">
        <div class="container pt-17 pb-20 pt-md-19 pb-md-21 text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="display-1 mb-3 text-white">Bize Ulaşın</h1>
              <nav class="d-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb text-white">
                  <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                  <li class="breadcrumb-item active" aria-current="page">İletişim</li>
                </ol>
              </nav>
              <!-- /nav -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-light angled upper-end">
        <div class="container pb-11">
          <div class="row mb-14 mb-md-16">
            <div class="col-xl-10 mx-auto mt-n19">
              <div class="card">
                <div class="row gx-0">
                  <div class="col-lg-6 align-self-stretch">
                    <div class="map map-full rounded-top rounded-lg-start">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3791.442689774823!2d30.708577357476475!3d36.95702758968468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38f58dbb8620d%3A0x936dfd6c6b5a69c0!2zw5Z6IFnEsWxkxLFyxLFtIFNpdGVzaQ!5e0!3m2!1str!2str!4v1659777187336!5m2!1str!2str"
                        style="width:100%; height: 100%; border:0" allowfullscreen></iframe>
                    </div>
                    <!-- /.map -->
                  </div>
                  <!--/column -->
                  <div class="col-lg-6">
                    <div class="p-10 p-md-11 p-lg-14">
                      <div class="d-flex flex-row">
                        <div>
                          <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i>
                          </div>
                        </div>
                        <div class="align-self-start justify-content-start">
                          <h5 class="mb-1">Adres</h5>
                          <address> Ayanoğlu Mah. 1827 Sok. Özyıldırım Sitesi D Blok No : 23  <br
                              class="d-none d-md-block" />Kepez, Antalya</address>
                        </div>
                      </div>
                      <!--/div -->
                      <div class="d-flex flex-row">
                        <div>
                          <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
                        </div>
                        <div>
                          <h5 class="mb-1">Telefon</h5>
                          <p>+90 (545) 314 56 19</p>
                        </div>
                      </div>
                      <!--/div -->
                      <div class="d-flex flex-row">
                        <div>
                          <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
                        </div>
                        <div>
                          <h5 class="mb-1">E-mail</h5>
                          <p class="mb-0"><a href="mailto:can@akburu.com" class="link-body">can@akburu.com</a></p>
                        </div>
                      </div>
                      <!--/div -->
                    </div>
                    <!--/div -->
                  </div>
                  <!--/column -->
                </div>
                <!--/.row -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
              <h2 class="display-4 mb-3 text-center">Bize Yazın</h2>
              <p class="lead text-center mb-10">
                Bize iletişim formumuzdan ulaşın, kısa süre içinde size geri döneceğiz.
              </p>
              <form class="contact-form needs-validation" action="/contact-form" method="POST"  method="POST" novalidate="">
                <div class="messages"></div>
                <div class="row gx-4">
                  <div class="col-md-4">
                    <div class="form-floating mb-4">
                      <input id="inputNameSurname" type="text" name="inputNameSurname" class="form-control" placeholder="Jane" required>
                      <label for="inputNameSurname">Ad Soyad *</label>
                      <div class="valid-feedback"> Looks good! </div>
                      <div class="invalid-feedback"> Please enter your first name. </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-md-4">
                    <div class="form-floating mb-4">
                      <input id="inputEmail" type="email" name="inputEmail" class="form-control"
                        placeholder="jane.doe@example.com" required>
                      <label for="inputEmail">Email *</label>
                      <div class="valid-feedback"> Looks good! </div>
                      <div class="invalid-feedback"> Please provide a valid email address. </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-md-4">
                    <div class="form-floating mb-4">
                      <input id="inputPhone" type="tel" name="inputPhone" class="form-control"
                        placeholder="+90 (555) 555 55 55" required>
                      <label for="inputPhone">Telefon *</label>
                      <div class="valid-feedback"> Looks good! </div>
                      <div class="invalid-feedback"> Please provide a valid phone address. </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-12">
                    <div class="form-floating mb-4">
                      <textarea id="inputMessage" name="inputMessage" class="form-control" placeholder="Your message"
                        style="height: 150px" required></textarea>
                      <label for="inputMessage">Mesaj *</label>
                      <div class="valid-feedback"> Looks good! </div>
                      <div class="invalid-feedback"> Please enter your messsage. </div>
                    </div>
                  </div>
                  <!-- /column -->
                  <div class="col-12 text-center">
                    <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3" value="Mesajı Gönder">
                    <p class="text-muted"><strong>*</strong> Bu alanlar zorunludur.</p>
                  </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
              </form>
              <!-- /form -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center bg-map"
        data-image-src="./assets/img/map.png">
        <div class="container pt-0 pb-14 pt-md-16 pb-md-18">
          <div class="row">
            <div class="col-lg-9 col-xxl-8 mx-auto">
              <h3 class="display-4 mb-8 px-xl-12">250'den fazla müşterimiz tarafından güveniliyoruz. Şimdi onlara
                katılın.</h3>
            </div>
            <!-- /.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
  </div>
  <%- include('../partials/footer');-%>
</body>

</html>