<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Akburu Asansör & Bilişim Teknolojileri | Montaj</title>
    <%- include('../partials/head'); -%>
</head>

<body>
    <div class="content-wrapper">
        <%- include('../partials/header',{active:"montaj"}); -%>
            <!-- /header -->
            <section class="wrapper bg-gray">
                <div class="container pt-10 pb-13 pt-md-14 pb-md-17 text-center">
                    <div class="row">
                        <div class="col-lg-10 col-xxl-8 mx-auto">
                            <h1 class="display-1 mb-0">Deneyimli ekip, kaliteli işçilik ve malzeme zamanında teslim iş
                                için doğru adres</h1>
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /section -->
            <section class="wrapper bg-light">
                <div class="container py-14 py-md-16">
                    <div class="row mt-6">
                        <div class="col-xl-10 mx-auto">
                            <div class="grid grid-view projects-tiles show-more" data-showstart="3" data-showafter="3">
                                <div class="project light-gallery-wrapper">
                                    <div class="row g-6 isotope">
                                        <div class="item col-md-6">
                                            <div class="project-details d-flex justify-content-center flex-column">
                                                <div class="post-header">
                                                    <div class="post-category text-red mb-3">Projelendirme</div>
                                                    <h2 class="post-title mb-3">Bütün belge işlemleriniz</h2>
                                                </div>
                                                <!-- /.post-header -->
                                                <div class="post-content">
                                                    <p>Çizim aşamasından etiket aşamasına kadar ki bütün süreçlerinizi
                                                        sizin için biz yönetiyoruz.</p>
                                                </div>
                                                <!-- /.post-content -->
                                            </div>
                                            <!-- /.project-details -->
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Uygulama Projesi Örnek</h5>'><a
                                                    href="./assets/img/photos/uygulama-cizim.jpg" class="lightbox"
                                                    data-sub-html=".caption1"> <img
                                                        src="./assets/img/photos/uygulama-cizim.jpg" alt="" /></a>
                                                <div class="caption1 d-none">
                                                    <h5>Uygulama Projesi Örnek</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Uygulama Projesi Örnek</h5>'><a
                                                    href="./assets/img/photos/uygulama-cizim-2.jpg" class="lightbox"
                                                    data-sub-html=".caption2"> <img
                                                        src="./assets/img/photos/uygulama-cizim-2.jpg" alt="" /></a>
                                                <div class="caption2 d-none">
                                                    <h5>Uygulama Projesi Örnek</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Yeşil Etiket Örnek</h5>'><a
                                                    href="./assets/img/photos/asansor-yesil-etiket.png" class="lightbox"
                                                    data-sub-html=".caption5"> <img
                                                        src="./assets/img/photos/asansor-yesil-etiket.png" alt="" /></a>
                                                <div class="caption5 d-none">
                                                    <h5>Yeşil Etiket Örnek</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.project -->
                                <div class="project light-gallery-wrapper">
                                    <div class="row g-6 isotope">
                                        <div class="item col-md-6">
                                            <div class="project-details d-flex justify-content-center flex-column">
                                                <div class="post-header">
                                                    <div class="post-category text-yellow mb-3">Güvenirlilik</div>
                                                    <h2 class="post-title mb-3">Ödeme adımından malzemenin montajına
                                                        kadar</h2>
                                                </div>
                                                <!-- /.post-header -->
                                                <div class="post-content">
                                                    <p>Sözleşme yaptığımız ilk andan itibaren sözleşme ve hukuki olarak
                                                        tarafsız olarak iki taraf içinde tam güvenceli iş ortağınız
                                                        olalım</p>
                                                </div>
                                                <!-- /.post-content -->
                                            </div>
                                            <!-- /.project-details -->
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Güvenle Hazırlanmış Sözleşme</h5>'><a
                                                    href="./assets/img/photos/bs3.jpg" class="lightbox"
                                                    data-sub-html=".caption1"> <img src="./assets/img/photos/bs3.jpg"
                                                        alt="" /></a>
                                                <div class="caption1 d-none">
                                                    <h5>Güvenle Hazırlanmış Sözleşme</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Ödeme Konusunda Güvenirlilik</h5>'><a
                                                    href="./assets/img/photos/bs2.jpg" class="lightbox"
                                                    data-sub-html=".caption2"> <img src="./assets/img/photos/bs2.jpg"
                                                        alt="" /></a>
                                                <div class="caption2 d-none">
                                                    <h5>Ödeme Konusunda Güvenirlilik</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Malzeme Tam Zamaninda Teslim</h5>'><a
                                                    href="./assets/img/photos/b3.jpg" class="lightbox"
                                                    data-sub-html=".caption6"> <img src="./assets/img/photos/b3.jpg"
                                                        alt="" /></a>
                                                <div class="caption6 d-none">
                                                    <h5>Malzeme Tam Zamaninda Teslim</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.project -->
                                <div class="project light-gallery-wrapper">
                                    <div class="row g-6 isotope">
                                        <div class="item col-md-6">
                                            <div class="project-details d-flex justify-content-center flex-column">
                                                <div class="post-header">
                                                    <div class="post-category text-green mb-3">Montaj Aşaması</div>
                                                    <h2 class="post-title mb-3">Asansörünüzün Kurulumu</h2>
                                                </div>
                                                <!-- /.post-header -->
                                                <div class="post-content">
                                                    <p>Malzemelerimiz sahaya indikten sonra kurulum aşamasında deneyimli
                                                        kadrolarımız ile itina ile kurulumunu yerine getirir.</p>
                                                </div>
                                                <!-- /.post-content -->
                                            </div>
                                            <!-- /.project-details -->
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Motor Askılama</h5>'><a
                                                    href="./assets/img/photos/montaj-1.jpeg" class="lightbox"
                                                    data-sub-html=".caption1"> <img
                                                        src="./assets/img/photos/montaj-1.jpeg" alt="" /></a>
                                                <div class="caption1 d-none">
                                                    <h5>Motor Askılama</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Halatların atılması ve Diğer işlemler</h5>'><a
                                                    href="./assets/img/photos/montaj-2.jpeg" class="lightbox"
                                                    data-sub-html=".caption2"> <img
                                                        src="./assets/img/photos/montaj-2.jpeg" alt="" /></a>
                                                <div class="caption2 d-none">
                                                    <h5>Halatların atılması ve Diğer işlemler</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                        <div class="item col-md-6">
                                            <figure class="itooltip itooltip-light hover-scale rounded"
                                                title='<h5 class="mb-0">Kapıların Yerleştirilmesi</h5>'><a
                                                    href="./assets/img/photos/montaj-3.jpeg" class="lightbox"
                                                    data-sub-html=".caption3"> <img
                                                        src="./assets/img/photos/montaj-3.jpeg" alt="" /></a>
                                                <div class="caption3 d-none">
                                                    <h5>Kapıların Yerleştirilmesi</h5>
                                                </div>
                                            </figure>
                                        </div>
                                        <!-- /.item -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.project -->
                            </div>
                            <!-- /.projects-tiles -->
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /section -->
    </div>
    <%- include('../partials/footer');-%>
</body>

</html>