<!DOCTYPE html>
<html>

<head>
  <title>Akburu Asansör Bilişim Teknolojileri</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      margin: 0;
    }

    .flex-container {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .row {
      width: auto;
      margin: 0 30px;
    }
    .item{
      font-family: 'Montserrat', sans-serif;
      width: 100%;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="flex-container">
    <div class="row">
      <svg viewBox="0 0 429.9103 93.6611" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="none" class="item">
        <defs></defs>
        <style>
          .companyName {
            fill: #3E4AB8;
            fill-opacity: 1;
          }

          .icon1 {
            fill: #0A0A0A;
            fill-opacity: 1;
          }

          .icon2 {
            fill: #3E4AB8;
            fill-opacity: 1;
          }

          .icon3 {
            fill: #A0A0A0;
            fill-opacity: 1;
          }

          .shapeStroke-str {
            stroke: #3E4AB8;
            stroke-opacity: 1;
          }
        </style>
        <g opacity="1" transform="rotate(0 0 24.024999999999977)">
          <svg width="88.9923" height="45.6111" x="0" y="24.024999999999977" version="1.1" preserveAspectRatio="none"
            viewBox="20 59 160 82">
            <g transform="matrix(1 0 0 1 0 0)">
              <g>
                <path d="M96.5 141H68.7l-16.4-29 13.9-24.6L96.5 141z" data-color="1" class="icon1"></path>
                <path d="M48.7 141H20l46.9-82h28.7l-46.9 82z" data-color="2" class="icon2"></path>
                <path d="M97.6 141H68.9l46.9-82h28.7l-46.9 82z" data-color="3" class="icon3"></path>
                <path d="M180 141h-28.8l-16.9-29 14.4-24.6L180 141z" data-color="1" class="icon1"></path>
              </g>
            </g>
          </svg>
        </g>
        <g opacity="1" transform="rotate(0 117.3747 22.182900000000018)">
          <svg width="312.5356" height="49.2953" x="117.3747" y="22.182900000000018" version="1.1"
            preserveAspectRatio="none" viewBox="-0.36 -28 180.56 28.48">
            <g transform="matrix(1 0 0 1 0 0)" class="companyName">
              <path
                d="M24.24 0L21.76-6L8.76-6L6.28 0L-0.36 0L12.12-28L18.52-28L31.04 0L24.24 0ZM10.84-10.92L19.72-10.92L15.28-21.64L10.84-10.92Z M53.12 0L44.16-11L40.40-7.08L40.40 0L33.96 0L33.96-28L40.40-28L40.40-14.92L52.80-28L60-28L48.40-15.52L60.68 0L53.12 0Z M84.12-14.56Q86.52-13.80 87.88-12.02Q89.24-10.24 89.24-7.64L89.24-7.64Q89.24-3.96 86.38-1.98Q83.52 0 78.04 0L78.04 0L63.56 0L63.56-28L77.24-28Q82.36-28 85.10-26.04Q87.84-24.08 87.84-20.72L87.84-20.72Q87.84-18.68 86.86-17.08Q85.88-15.48 84.12-14.56L84.12-14.56ZM76.44-23.12L70-23.12L70-16.52L76.44-16.52Q78.84-16.52 80.08-17.36Q81.32-18.20 81.32-19.84L81.32-19.84Q81.32-21.48 80.08-22.30Q78.84-23.12 76.44-23.12L76.44-23.12ZM77.56-4.88Q80.12-4.88 81.42-5.72Q82.72-6.56 82.72-8.32L82.72-8.32Q82.72-11.80 77.56-11.80L77.56-11.80L70-11.80L70-4.88L77.56-4.88Z M106.60 0.48Q100.60 0.48 97.26-2.84Q93.92-6.16 93.92-12.32L93.92-12.32L93.92-28L100.40-28L100.40-12.56Q100.40-5.04 106.64-5.04L106.64-5.04Q109.68-5.04 111.28-6.86Q112.88-8.68 112.88-12.56L112.88-12.56L112.88-28L119.28-28L119.28-12.32Q119.28-6.16 115.94-2.84Q112.60 0.48 106.60 0.48L106.60 0.48Z M150.48 0L143.52 0L138.12-7.80L137.80-7.80L132.16-7.80L132.16 0L125.68 0L125.68-28L137.80-28Q141.52-28 144.26-26.76Q147-25.52 148.48-23.24Q149.96-20.96 149.96-17.84L149.96-17.84Q149.96-14.72 148.46-12.46Q146.96-10.20 144.20-9L144.20-9L150.48 0ZM143.40-17.84Q143.40-20.20 141.88-21.46Q140.36-22.72 137.44-22.72L137.44-22.72L132.16-22.72L132.16-12.96L137.44-12.96Q140.36-12.96 141.88-14.24Q143.40-15.52 143.40-17.84L143.40-17.84Z M167.52 0.48Q161.52 0.48 158.18-2.84Q154.84-6.16 154.84-12.32L154.84-12.32L154.84-28L161.32-28L161.32-12.56Q161.32-5.04 167.56-5.04L167.56-5.04Q170.60-5.04 172.20-6.86Q173.80-8.68 173.80-12.56L173.80-12.56L173.80-28L180.20-28L180.20-12.32Q180.20-6.16 176.86-2.84Q173.52 0.48 167.52 0.48L167.52 0.48Z">
              </path>
            </g>
          </svg>
        </g>
        <g opacity="1" transform="rotate(0 100.9429 0)">
          <svg width="3.2864" height="93.6611" x="100.9429" y="0" version="1.1" preserveAspectRatio="none"
            viewBox="0 0 3.2864 93.6611">
            <rect x="0" y="0" width="3.2864" height="93.6611" class="companyName shapeStroke-str"
              style="stroke-width:0;" rx="0px" ry="0px"></rect>
          </svg>
        </g>
      </svg>
      <h1 class="item">Akburu Asansör Bilişim Teknolojileri</h1>
    </div>
  </div>
  </div>
</body>

</html>